.top-bar{
	background: #e2f3f0;
	font-size: 13px;
    color: #000000;
    padding: 9px 0;
}
ul.unstyled, ol.unstyled {
    margin: 0;
    list-style: none outside none;
}
ul.list_support li{
	display: inline-block;
    vertical-align: middle;
}
ul.unstyled > li{
	list-style: none;
}
.top-bar a{
    color: #000000;
}
 .list_support li + li:before {
    content: '';
    margin-right: 3px;
    border-left: 1px solid gray;
}
.search-product {
    position: relative;
}
.search-product-input {
    width: 282px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px 8px;
    height: 35px;
    box-shadow: none;
    float: right;
}
.btn-search-product {
    position: absolute;
    right: 12px;
    top: 5px;
    border: none;
    background: white;
    box-shadow: none;
    width: 25px;
   
    opacity: 0.4;
}
.topbar-content{
	align-items: center;
}
/**/
.search-bar-mobile {
   /* display: none;*/
    padding: 5px;
    position: relative;
}
.search-bar-mobile form.searchform input.searchinput {
    height: 30px;
    font-size: 12px;
}
form.searchform input.searchinput {
    background: #f5f5f5;
    color: #666666;
    width: 100%;
    border: none;
    height: 55px;
    font-size: 15px;
    font-weight: 500;
    padding: 0 30px 0 5px;
    margin: 0;
    display: inline-block;
    border-radius: 0;
    -webkit-appearance: none;
    transition: all 150ms linear;
}
.search-bar-mobile form.searchform .btn-search {
    top: 0px;
    right: 5px;
    height: 35px;
    line-height: 35px;
    width: 55px;
    position: absolute;
    padding: 0;
    background: transparent;
    transition: opacity 150ms linear;
}
.search-bar-mobile form.searchform .btn-search svg {
    width: 15px;
    height: 15px;
}
/**/
.menu-header{
	    background: #fff;

    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.08) inset;
    box-shadow: 0 0 3px rgba(0,0,0,0.08) inset;
    -webkit-transition: background 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.affix-mobile{
	    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    -moz-box-shadow: 0 2px 10px #ccc;
    -webkit-box-shadow: 0 2px 10px #ccc;
    box-shadow: 0 2px 10px #ccc;
    -webkit-animation: fadeInDown 0.6s both;
    animation: fadeInDown 0.6s both
}
.menu-header-content{
	align-items: center;
    justify-content: space-between;
}
.hidden-lg{
	display: none;
}
.header-mid h1{
	font-size: 32px;
    font-weight: bold;
    margin: 0;
}
.header-mid h1 a{
	color: inherit;
}
#nav {
    width: 100%;
    display: inline-block;
}
#nav .main-nav * {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
#nav .main-nav>ul>li {
    display: inline-block;
    z-index: 10;
    list-style: none;
}
.main-header.affix-mobile #nav .main-nav > ul>li>a {
    padding: 25px 0;
}
#nav .main-nav>ul>li.active > a {
    color: #666666;
}
#nav nav.main-nav ul li a {
    color: black;
}
#nav .main-nav > ul>li>a {
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 35px 0;
    margin: 0 20px 0 0;
    position: relative;
    text-transform: uppercase;
}
#nav nav.main-nav ul li a:hover {
    color: #666666;
}
#nav .main-nav .sub_menu li:not(:first-child) {
    border-top: 1px solid #ecf0f1;
}
#nav .main-nav li:hover>.sub_menu {
    -webkit-transform: rotate3d(0,0,0,0deg);
    -moz-transform: rotate3d(0,0,0,0deg);
    -o-transform: rotate3d(0,0,0,0deg);
    -ms-transform: rotate3d(0,0,0,0deg);
    transform: rotate3d(0,0,0,0deg);
}
#nav .main-nav .sub_menu .sub_menu {
    left: 100%;
    top: -2px;
    margin-left: 1px;
    margin-top: 0;
    -webkit-transform: rotate3d(0,1,0,90deg);
    -moz-transform: rotate3d(0,1,0,90deg);
    -o-transform: rotate3d(0,1,0,90deg);
    -ms-transform: rotate3d(0,1,0,90deg);
    transform: rotate3d(0,1,0,90deg);
}
#nav .main-nav ul>li:hover>a i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-bottom: 0;
}
#nav .main-nav .sub_menu {
    background: #fff;
    position: absolute;
    z-index: 999;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -ms-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-transform: rotate3d(1,0,0,-90deg);
    -moz-transform: rotate3d(1,0,0,-90deg);
    -o-transform: rotate3d(1,0,0,-90deg);
    -ms-transform: rotate3d(1,0,0,-90deg);
    transform: rotate3d(1,0,0,-90deg);
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -o-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#nav .main-nav ul>li>ul {
    top: 100%;
    margin-top: -2px;
    border-top: 2px solid #5c5c5c;
}
.sub_menu li {
    position: relative;
    list-style: none;
}
#nav .main-nav .sub_menu a {
    padding: 9px 18px;
    white-space: nowrap;
    text-align: left;
    display: block;
    font-size: 14px;
}
#nav .main-nav ul>li a i {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.9rem;
    margin-left: 4px;
    margin-bottom: 2px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.header-wrap-icon {
    text-align: right;
        display: flex;
    justify-content: flex-end;
}
.header-wrap-icon > span {
    display: inline-block;
    margin: 0 0 0 10px;
    position: relative;
    transition: opacity 150ms linear;
    font-size: 1.2rem;
    cursor: pointer;
}
.header-wrap-icon a{
	color: #666666
}
.cart-menu .count-holder {
    position: absolute;
    top: -11px;
    right: 4px;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    font-weight: bold;
    height: 17px;
    overflow: hidden;
}
.icon-account svg{
	margin: 0 10px 0 0;
	fill: #252a2b;
    width: 20px;
    height: 20px;
}
.btnMenuMobile {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    color: #999;
    background-color: transparent;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.btnMenuMobile .iconMenu {
    width: 20px;
    height: 2px;
    background-color: #333;
    display: block;
    margin: 2px 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
/*body*/
.main-container-theme section[class*="section-"] {
    margin-bottom: 50px;
}

.banner-home-outer {
    margin-top: -110px;
    box-shadow: 0 0 0 20px #fff;
    position: relative;
    z-index: 1;
    background: #fff;
}
.effectTwo a {
    display: block;
    overflow: hidden;
    position: relative;
}
img.img-responsive.border-radius1.lazyloaded {
    width: 100%;
    object-fit: cover;
        opacity: 1;
        display: block;
    max-width: 100%;
    height: auto
}
.effectTwo a:before {
    border: 1px solid #ffffff;
    bottom: 20px;
    content: "";
    left: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    position: absolute;
    right: 20px;
    top: 20px;
    -webkit-transition: opacity 0.35s ease 0s,transform 0.35s ease 0s;
    -o-transition: opacity 0.35s ease 0s,transform 0.35s ease 0s;
    transition: opacity 0.35s ease 0s,transform 0.35s ease 0s;
    z-index: 1;
}
.effectTwo a:after {
    bottom: 20px;
    content: "";
    left: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-box-shadow: 0 0 0 20px rgba(0,0,0,0.2);
    box-shadow: 0 0 0 20px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.05);
    -webkit-transition: opacity 0.35s ease 0s,transform 0.35s ease 0s;
    -o-transition: opacity 0.35s ease 0s,transform 0.35s ease 0s;
    transition: opacity 0.35s ease 0s,transform 0.35s ease 0s;
    z-index: 1;
 }   
.effectTwo a:hover:before, .effectTwo a:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.wrapper-heading-home {
    padding: 10px 0 30px 0;
    text-align: center;
}
.wrapper-heading-home h2 {
    font-size: 24px;
    line-height: 1.6;
    margin: 0;
    font-weight: bold;
}
.wrapper-heading-home h2 a{
	color: inherit;
}
.groupTitle-home p{
    font-size: 14px;
    color: #666666;
}
/**/

 .owl-carousel .item {
     margin: 3px
 }

 .owl-carousel .item>img {
     display: block;
     width: 100%;
     height: 275px;
 }

 .owl-carousel .item {
     margin: 3px
 }

 .owl-carousel {
     margin-bottom: 15px
 }

.pro-loop {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    background: #fff;
    margin-bottom: 20px;
}
.pro-loop .product-img {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.box-pro-detail {
    z-index: 9;
    width: 100%;
     padding: 10px 0 0 0;
}
.pro-loop .product-detail h3 {
    margin: 0 0 5px;
    font-size: 14px;
    position: relative;
}
.pro-loop .box-pro-detail h3 a {
    line-height: 16px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #666666;
}
p.pro-price {
    color: black;
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}
 .variantColor ul li{
    list-style: none;
 }
.variantColor li img {
        height: 20px !important;
        width: 29px !important;
    padding: 3px;
    margin: 1px 0 0 0
}
.variantColor {
    margin: 5px 0 0 2px;
}
.product-sale {
    left: 10px;
    color: #f94c43 !important;
}
.pro-loop .product-img .product-sale, .pro-loop .product-img .sold-out {
    position: absolute;
    top: 10px;
    font-size: 12px;
    line-height: 1;
    padding: 5px 10px;
    font-weight: bold;
    z-index: 9;
    color: #666666;
    background: #fff;
}

.animation-tran .product-img>a>img{
    height: 275px;
}
/*.owl-item {
    margin-right: 20px;
}*/


/**/
.section.section-banner-video {
    margin-bottom: 0px;
}
.effectFour {
    position: relative;
}
.mbItemGutter {
    margin-bottom: 23px;
}
.effectFour a {
    display: block;
    overflow: hidden;
    position: relative;
}
.mbItemGutter img:not(.no-border) {
    border: 1px solid #e5e5e5;
}
.effectFour a:before, .effectFour a:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 900ms ease 0s;
}
.effectFour a:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 900ms ease 0s;
}
.effectFour a:hover:before {
    background: rgba(255,255,255,0.5) none repeat scroll 0 0;
    bottom: 50%;
    top: 50%;
}
.effectFour a:hover:after {
    background: rgba(255,255,255,0.5) none repeat scroll 0 0;
    left: 51%;
    right: 50%;
}
.collectionImage .collectionGroup {
    position: absolute;
    padding: 12px 20px;
    left: 20px;
    bottom: 20px;
    background: #fff;
    min-width: 150px;
}
.collectionImage h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.collectionImage h4 a {
    color: #666666;
    font-weight: bold;
    font-size: 16px;
}
.effectFour a {
    display: block;
    overflow: hidden;
    position: relative;
}
.collectionImage .colCount {
    margin-bottom: 0;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}
.blogPostTitle {
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    margin: 20px 0 15px;
}
.blogPostTitle a {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
        color: #666666
}
.btnBlogReadMore {
    color: #888;
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px solid #999;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.mb20 {
    margin-bottom: 20px;
        color: #666666
}
.blogPostTitle:hover a {
    color: #888;
}
/*footer*/
footer {
    background: #333;
    color: #fff;
    padding-top: 40px;
}
footer .box-footer h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 25px;
}
footer .box-footer p {
    margin-bottom: 10px;
}
footer .box-footer strong {
    font-weight: 500;
    color: #2196f3;
}
footer .content-list li {
    margin-bottom: 15px;
    list-style: none;
}
footer .content-list li a {
    color: #fff;
    font-size: 1.4rem;
}
footer .content-list li .fa {
    color: #2196f3;
}
footer .content-contact .form-control {
    max-height: 80px;
    margin-bottom: 8px;
    font-size: 14px;
    box-shadow: none !important;
    border-radius: 2px;
    border: 1px solid #888888;
    background: #333;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
footer button.btn-contact {
    border-radius: 30px;
    border: 0;
    padding: 5px 20px;
    color: #fff;
    background: #2196f3;
    font-size: 1.4rem;
}
footer .copyright {
    text-align: center;
    padding: 10px;
    background: #4c4c4c;
    margin-top: 40px;
}
footer .copyright p {
    margin-bottom: 0;
}
/*menu-mobile*/
.style--sideba ul li {
    list-style: none;
}
.primary-menu a{
    color:#666666;
}
.site-nav.style--sidebar {
    position: fixed;
    width: 480px;
    height: 100vh;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 8888;
    overflow: hidden;
    -ms-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.site-nav.style--sidebar.show-navigation, .site-nav.style--sidebar.show-cart {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
#site-nav--mobile.show-navigation #site-navigation {
    display: block;
}
.site-nav-container {
    width: calc(100% + 20px);
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.site-nav-container-last {
    width: calc(100% - 0px);
    position: relative;
    overflow: hidden;
    min-height: 100%;
    padding: 60px 70px 250px;
}
.site-nav-container-last {
    padding-bottom: 100px;
}
.site-nav.style--sidebar .site-nav-container .title {
    font-size: 14px;
    text-transform: uppercase;
    margin: 3px 0 0 0;
    font-weight: 500;
}
.site-nav .main-navbar, .cart-view {
    margin-top: 50px;
}
.menu-collection {
    margin-bottom: 50px;
    list-style: none;
}
.menu-collection ul{
    list-style: none;
}
.menu-collection li.navi1 {
    margin-bottom: 5px;
}
.menu-collection li a {
    display: inline-block;
    width: calc(100% - 45px);
    vertical-align: middle;
}
.menu-collection li.navi1 > a {
    font-weight: 600;
    font-size: 18px;
}
.menu-collection ul.subnav-children li.navi2 > a {
    padding: 8px 0px 8px 25px;
    font-size: 16px;
    font-weight: 600;
}
.menu-about li {
    margin-bottom: 12px;
    list-style: none;
}
.menu-about li a {
    font-weight: 500;
    font-size: 15px;
}
.menu-about li.login {
    margin-top: 50px;
}
.menu-about li.login span:first-child {
    margin-right: 4px;
    vertical-align: 0px;
}
.menu-about li.login span svg {
    fill: #252a2b;
    width: 20px;
    height: 20px;
}
.menu-collection ul.subnav-children ul.subnav-child li a {
    padding: 8px 0px 8px 45px;
}

.menu-collection li.active > span.icon-subnav {
    color: #333e48;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


/*reponsive*/
@media screen and (max-width: 991px) and (min-width: 768px){
   .menu-header {
        padding: 10px 0px;
    } 
}

@media screen and (max-width: 767px){
    .hidden-xs {
        display: none!important;
    }
    .header-mid h1 {
        font-size: 25px;
    }
    .top-bar {
        font-size: 12px;
    }
    .container {
        width: 100%;
        max-width: none !important;
     }
     .menu-header {
        padding: 10px 0px;
    } 
   .section[class*='section-'] {
        margin-bottom: 30px;
    }
    .banner-home-outer {
        margin-top: 0px;
        box-shadow: none;
    }
   .banner-home-item {
        margin-top: 15px;
    }
    .icon-account span {
        font-size: 0;
    }
    .collectionItem {
        margin: 0 0 15px 0;
    }
    .site-nav.style--sidebar {
        width: 320px;
    }
    .site-nav.style--sidebar .site-nav-container {
        width: 100%;
    }
    .site-nav.style--sidebar .site-nav-container-last {
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .menu-collection li.navi1 > a {
        font-size: 20px;
    }
    .menu-collection li.navi1 span.icon-subnav {
        text-align: center;
        width: 40px;
        cursor: pointer;
        font-size: 25px;
        display: inline-block;
        vertical-align: middle;
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    }
    .menu-collection ul.submenu {
        display: block;
    }
    .menu-collection ul.subnav-children li.navi2 > a {
        font-size: 16px;
    }
    
  

}

@media screen and (max-width: 991px){
    .main-header .flexContainer-header>div[class*='col-'] {
         width: initial;
    }
   .header-mid {
    max-width: 62%;
    padding-right: 0;
    text-align: center;
    }
    .main-header .flexContainer-header {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    }
    .hidden-lg {
    display: block;
    }
}
